.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: cadetblue;
    border-radius: 10px;
}
.controlPanelContainer{
    background-color: darkslategray;
}
.counter{

}
.maxCount{
    color: red;
}
