.buttons {
    background-color: darkslategray;
    display: grid;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.btn{
    border-radius: 5px;
    background-color: cadetblue;
    border: 1px solid black;
}
