.container{
    margin: 10px auto;
    background-color: white;
    width: 300px;
    border:  1px solid black;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}
.containerEnd{
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}
.title{
    text-align: center;
}
.titleEnd{
    color: red;
}
.errorMessage{
    color: red;
}