.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}